[user]
	email = r1nlx0@gmail.com
	signingkey = B0E69FF084D37B2D

[color]
	ui = auto

[alias]
	ignore = "ignore() { curl -sL https:://www.gitignore.io/api/$@ ;}; ignore"
	appraise = /home/zerosign/go/bin/git-appraise

[commit]
	gpgsign = true

[credential]
	helper = /usr/bin/pass-git-helper

[github]
   username = zerosign
	user = zerosign

[gitlab]
	user = zerodevs
   username = zerodevs

[gpg]
	program = gpg

[format]
	signoff = true

[core]
	pager = delta --theme Github

[pull]
	ff = only

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none