[user]
name = zerosign
email = r1nlx0@gmail.com
signingkey = B0E69FF084D37B2D

[color]
ui = auto

[alias]
ignore = "ignore() { curl -sL https:://www.gitignore.io/api/$@ ;}; ignore"

[commit]
gpgsign = true

[credential]
username = zerosign
helper = /usr/bin/pass-git-helper

[github]
user = zerosign

[gitlab]
user = r1nlx0
